*.pyc

# PyCharm files
*.idea

#nano tmp files
*nano.save
*.swp

# scratch work
*scratch*

#generated stacks to teardown file
teardown.txt

# Terraform compiled files
*.tfstate
*.tfstate.backup
my.tfvars

# Ansible retry files
*.retry

# Mac
.DS_Store
